<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <header th:insert="partials/partials :: header"/>
    <title>Create blog post</title>
</head>
<body>

<nav th:replace="partials/partials :: navbar"/>

<div class="container">

    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input th:field="*{title}" type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Body</label>
            <textarea th:field="*{body}" class="form-control" id="body" rows="10" cols="50"></textarea>
        </div>

        <input type="hidden" th:field="*{id}" />

        <input type="submit" id="postSubmit" value="Submit">

    </form>

</div>

<footer th:replace="partials/partials.html :: footer"/>

</body>
</html>