<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <head th:replace="partials/partials :: head">
    <title>Title</title>
  </head>
<body>

<nav th:replace="partials/partials :: navbar"/>

<form action="/posts/create" method="post">

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
  <div class="mb-3">
    <label for="body" class="form-label">Body</label>
    <textarea class="form-control" id="body" name="body" rows="10" cols="50"></textarea>
  </div>

  <input type="submit" value="Submit">

</form>

<footer th:replace="partials/partials.html :: footer"/>

</body>
</html>