<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="partials/partials :: header" />
    <title th:text="${post.title}"></title>
</head>
<body>

<nav th:replace="partials/partials :: navbar" />

<div class="container">
    <div class="card m-5" style="width: 22rem;">
        <div class="card-body">
            <h3 th:text="${post.title}">title is missing</h3>
            <p th:text="${post.body}">body is missing</p>
        </div>
    </div>
</div>

<footer th:replace="partials/partials.html :: footer" />

</body>
</html>