<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <header th:insert="partials/partials :: header" />
    <title th:text="${post.title}"></title>
</head>
<body>

<nav th:replace="partials/partials :: navbar" />

<div class="container">
    <div class="card m-5" style="width: 22rem;">
        <div class="card-body">
            <h3 th:text="${post.title}">title is missing</h3>
            <p th:text="${post.body}">body is missing</p>
            <p>Email: <span th:text="${post.user.email}"></span></p>
            <div th:if="${user != null && user.id == post.user.id}" class="editDeleteButtons">
                <a class="btn btn-outline-secondary" th:href="@{/posts/} + ${post.id} + '/edit'" role="button">Edit</a>
                <a class="btn btn-outline-secondary" th:href="@{/posts/} + ${post.id} + '/delete'" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="partials/partials.html :: footer" />

</body>
</html>