body {
    background: url("../resources/static/img/godzilla-gf4a20e6a7_1280.png") no-repeat center fixed;
    background-size: cover;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #f8f9fa;
    color: black;
}

/* unvisited link */
a.NoDeco:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a.NoDeco:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a.NoDeco:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a.NoDeco:active {
    color: black;
    text-decoration: none;
}

.editDeleteButtons {
    text-align: center;
}