<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="partials/partials :: header"/>
    <title>Create blog post</title>
</head>
<body>

<nav th:replace="partials/partials :: navbar"/>

<div class="container">

    <h1>Please Log In</h1>
    <form class="column g-3" action="/login" method="POST">

        <div class="col-md-4">
            <label for="validationServerUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
                <input name="username" type="text" class="form-control" value="" id="validationServerUsername" required>
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Username or password is invalid.
                </div>
            </div>
        </div>

        <br>

        <div class="col-md-4">
            <label for="validationServerPassword" class="form-label">Password</label>
            <div class="input-group has-validation">
                <input name="password" type="password" class="form-control " id="validationServerPassword" required>
                <div id="validationServerPasswordFeedback" class="invalid-feedback">
                </div>
            </div>
        </div>

        <br>

        <input type="submit" class="btn btn-primary btn-block" value="Log In">
    </form>

</div>

<footer th:replace="partials/partials.html :: footer"/>

</body>
</html>